# Django configurations
SECRET_KEY=django-insecure-(!97cuej8ts^*i^-71wa5_)x4!b%76@-*7zqr5n!lalg8&egfh
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,testserver

# Email configurations (for production SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-email-app-password
DEFAULT_FROM_EMAIL=EventOS Portal <no-reply@yourdomain.com>

# Security configurations (for production HTTPS)
SECURE_SSL_REDIRECT=False
